@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

/* RainbowKit Typography Override */
[data-rk] * {
  font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  font-weight: 400 !important; /* Purgar Bold/Negritas */
}
[data-rk] h1, [data-rk] h2, [data-rk] h3, [data-rk] button {
  font-weight: 500 !important; /* Máximo Medium para títulos, NUNCA bold grueso */
}
